.order-info {
    padding-top: 5px;
}

hr {
    margin: 20px 0;
}

.table {
    margin-bottom: 0;
}
.table th {
    padding: 0 0 0 5px;
}

tbody tr {
    height: 35px;
}

tbody tr {
    min-height: 100px;
}
tbody td {
    min-height: 100px;
}