
.page {
    font-size: 12px;
}

.order-info {
    padding-top: 5px;
}

.row {
    margin-bottom: 10px;
}

.empty {
    min-height: 200px;
}

.empty-short {
    min-height: 125px;
}

hr {
    margin: 20px 0;
}

.table {
    margin-bottom: 0;
}

.table.tests {
    margin-bottom: 30px;
}

.table th, .table td {
    padding: 0;
}


.table tbody tr {
    height: 30px;
    min-height: 30px;
}

.large-font {
    font-size: 30px;
}